/* GENERAL */
* {
	margin: 0;
    padding: 0;
}

.Header {grid-area: header;}
.Main {grid-area: main;}
.Aside {grid-area: aside;}
.Footer {grid-area: footer;}

.container {
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'main main main main aside aside'
    'footer footer footer footer footer footer';
    margin-right: 24%;
    margin-left: 24%;
    padding: 10px;
}

.container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
}
/* END GENERAL */

/* HEADER */

.Logo {grid-area: logo;}
.MainMenu {grid-area: mainMenu;}
.Subtitle {grid-area: subtitle;}
.SecondMenu {grid-area: secondMenu;}
/* .SelectLanguage {grid-area: selectLanguage;} */

.Header {
    display: grid;
    grid-template-areas:
    'logo logo mainMenu mainMenu mainMenu mainMenu'
    'subtitle subtitle subtitle subtitle subtitle subtitle'
    'secondMenu secondMenu secondMenu secondMenu secondMenu secondMenu';
    background-color: #2196F3;
}

.Header > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
}

.Logo {
    border: 1px solid rgb(140, 129, 209);
    padding-right: 100px;
}

.Logo > img {
    float: left;
}

.MainMenu {
    border: 1px solid slateblue;
    display: grid;
}

.loginNav a {
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    border-radius: 5px;

    margin-top: 20px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.loginNav a:hover {
    background-color: gray;
}

.loginNav ul {
    list-style: none;
}

.loginNav ul li {
    display: inline;
}

.mainNav a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    color: #000;
    background-color: #E9E9E9;
    margin-left: 5px;
    border-radius: 5px;

    margin-bottom: 10px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.mainNav a:hover {
    background-color: gray;
}

.mainNav ul {
    list-style: none;
}

.mainNav ul li {
    display: inline;
    float: right;
}

.Subtitle {
    border: 1px solid slateblue;
}

.Subtitle h1 {
    text-align: justify;
    color: #077782;
}

.SecondMenu {
    border: 1px solid slateblue;
}
/* ARROW SECOND MENU */
.SecondMenu a {
    text-align: center;
    color: #000;
    background-color: #E9E9E9;
    margin-right: 3px !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    padding: 10px !important;
    text-decoration: none;
    position: relative; /* Arrow position important*/

}

.SecondMenu a:hover, .active {
    font-weight: bold;
}

.SecondMenu a:hover::after {
    content: "";
    display: block;
    border: 12px solid transparent;
    border-top-color:#E9E9E9; 
    position: absolute;
    bottom: 0px;
    top: 37px;
    left: 50%;
    margin-left: -12px;
}
/* ARROW SECOND MENU */

.SecondMenu > ul {
    float: left;
    list-style: none;
}

.SecondMenu > ul > li {
    display: inline;
}

.SecondMenu a {
    text-decoration: none;
}

input.tgl-radio-tab-child {
    position: absolute;
    left: -99999em;
    top: -99999em;
    opacity: 1;
    z-index: 1;
}
  
input.tgl-radio-tab-child+label {
    cursor: pointer;
    border: 1px solid #aaa;
    padding: 2px;
    margin-right: -5px;
}
  
input.tgl-radio-tab-child+label:hover {
    background-color: #eee;
}
  
[type=radio]:checked+label {
    background-color: #aaa;
    z-index: 1;
}

.SecondMenu hr {
    width: 100%;
    margin-top: 0.9%
}

/* END HEADER */

/* MAIN */

.Main {
    display: grid;
    background-color: #2196F3;
}

.Main > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
}

/* PROGRAM SIDE */
.Program {
    border: 1px solid slateblue;
}

.program-title {
    color: #4ebec9;
}

.main-content{
    margin: 0 auto;
    clear: both;
    display: flex;
}

.program-content {
    vertical-align:middle;
}

.program-content > p{
    margin-top: 15px;
}

.program-img > img{
    display: block;
    margin: 10px 50px 10px 50px;  /* Top Right Bottom left */
}

.Program > * {
    text-align: justify;
}

/* END PROGRAM SIDE */

/* SCHEDULE */

.Schedule {
    border: 1px solid slateblue;
}

.schedule-title {
    color: #077782;
    margin-bottom: 10px;
}

.Schedule > * {
    text-align: justify;
}

/* END SCHEDULE */

/* FESTIVAL SPACES */

.FestivalSpaces {
    border: 1px solid slateblue;
}

.festival-title {
    color: #077782;
    margin-bottom: 10px;
    text-align: justify;
}

.festival-text {
    text-align: justify;
    margin-bottom: 20px;
}

.festival-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.festival-boxes > div {
    border: 1px solid slateblue;
    width: 100%;
    height: 180px;
    text-align: left;
}

.festival-boxes > div > h2 {
    color: #3d5e7a;
}

.festival-boxes > div > * {
    margin: 15px;
}

/* END FESTIVAL SPACES */

/* END MAIN */

/* ASIDE */

.Aside {
    display: grid;
    grid-template-columns: 340px;
    grid-template-rows: 130px 220px 470px 1fr 1fr;
}

.Aside > div{
    border: 1px solid slateblue;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
}

.Aside .Register {
    background-color: #99cdff;
    border-radius: 10px;
}

.Aside .Register > button {
    height: 70px;
    width: 300px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: #000;
    background-color: #8bcf68;
    color: #fff;
    margin-bottom: 10px;
    box-shadow: #000;
}

.Aside .Register > p {
    color:#0077EE;
}

.WhatAllAbout > *{
    margin-left: 20px;
    margin-right: 20px;
}

.WhatAllAbout > h3{
    text-align: justify;
    color: #077782;
}

.WhatAllAbout > p, a{
    text-align: justify;
    text-decoration: none;
}

.Aside-list > *{
    background-color: #E9E9E9;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 2px;
}

.Aside-list ul li {
    margin: 0 auto;
    clear: both;
    display: flex;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

.Aside-list ul li > p{
    margin-left: 10px;
}

.Aside-WhoShouldCome-content {
    background-color: #FFFDC8;
    padding: 30px;
    border-radius: 10px;
    box-shadow: #000;
}

.Aside-WhoShouldCome > * {
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
}

.Aside-WhoShouldCome h1{
    color: #9a181b;
    text-align: left;
}

.Aside-WhoShouldCome ul{
    margin-bottom: 20px;
    margin-top: 10px;
}

.Aside-WhoShouldCome ul li{
    list-style: none;
    margin: 0 auto;
    clear: both;
    display: flex;
}

.Aside-Networks > * {
    text-align: justify;
}

.Aside-Networks ul{
    margin-bottom: 20px;
    margin-top: 10px;
    list-style: none;
}

.Aside-Networks .identica {
    clear: both;
    display: flex;
    width: 220px;

    margin: 0 auto;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 5px;

    border-radius: 10px;
    background-color: #7db4c9;
}

.Aside-Networks .twitter {
    clear: both;
    display: flex;
    width: 220px;

    margin: 0 auto;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 5px;
    
    border-radius: 10px;
    background-color: #00bcff;
}

.Aside-Networks .identica:hover {
    background-color: #8bcf68;
}

.Aside-Networks .twitter:hover {
    background-color: #8bcf68;
}

.Aside-Networks .identica p{
    margin-top: 10px;
    text-align: center;
}

.Aside-Networks .twitter p{
    margin-top: 10px;
    margin-left: 40px;
    text-align: center;
}

/* END ASIDE */

/* FOOTER */

.Footer {
    display: grid;
    grid-template-columns: 1fr;
}

.Footer > div{
    border: 1px solid slateblue;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
}

/* END FOOTER */