/* GENERAL */
* {
	margin: 0;
	padding: 0;
}

.Header {grid-area: header;}
.Main {grid-area: main;}
.Aside {grid-area: aside;}
.Footer {grid-area: footer;}

.container {
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'main main main main aside aside'
    'footer footer footer footer footer footer';
    margin-right: 22%;
    margin-left: 22%;
    padding: 10px;
}

.container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
}
/* END GENERAL */

/* HEADER */

.Logo {grid-area: logo;}
.MainMenu {grid-area: mainMenu;}
.Subtitle {grid-area: subtitle;}
.SecondMenu {grid-area: secondMenu;}
.SelectLanguage {grid-area: selectLanguage;}

.Header {
    display: grid;
    grid-template-areas:
    'logo logo logo mainMenu mainMenu mainMenu'
    'subtitle subtitle subtitle subtitle subtitle subtitle'
    'secondMenu secondMenu secondMenu secondMenu selectLanguage selectLanguage';
    background-color: #2196F3;
}

.Header > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
}

.Logo {
    border: 1px solid rgb(140, 129, 209);

}

.MainMenu {
    border: 1px solid slateblue;
    display: grid;
}

.loginNav a {
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    border-radius: 5px;

    margin-top: 20px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.loginNav a:hover {
    background-color: gray;
}

.loginNav ul {
    list-style: none;
}

.loginNav ul li {
    display: inline;
}

.mainNav a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    color: #000;
    background-color: lightgray;
    margin-left: 5px;
    border-radius: 5px;

    margin-bottom: 10px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.mainNav a:hover {
    background-color: gray;
}

.mainNav ul {
    list-style: none;
}

.mainNav ul li {
    display: inline;
    float: right;
}

.Subtitle {
    border: 1px solid slateblue;
}

.SecondMenu {
    border: 1px solid slateblue;
}

.SelectLanguage {
    border: 1px solid slateblue;
}

/* END HEADER */

/* MAIN */

.Program {grid-area: program;}
.WhatAllAbout {grid-area: whatAllAbout;}
.Schedule {grid-area: schedule;}
.FestivalSpaces {grid-area: festivalSpaces;}

.Main {
    display: grid;
    grid-template-areas: 
    'program program program program program program'
    'whatAllAbout whatAllAbout whatAllAbout schedule schedule schedule'
    'festivalSpaces festivalSpaces festivalSpaces festivalSpaces festivalSpaces festivalSpaces';
    background-color: #2196F3;
}

.Main > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
}

.Program {
    border: 1px solid slateblue;

}

.WhatAllAbout {
    border: 1px solid slateblue;
}

.Schedule {
    border: 1px solid slateblue;
}

/* FESTIVAL SPACES */

.FestivalSpaces {
    border: 1px solid slateblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.FestivalSpaces > div {
    border: 1px solid slateblue;
}

/* END FESTIVAL SPACES */

/* END MAIN */

/* ASIDE */

.Aside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 400px 500px 100px;
}

.Aside > div{
    border: 1px solid slateblue;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
}

/* END ASIDE */

/* FOOTER */

.Footer {
    display: grid;
    grid-template-columns: 1fr;
}

.Footer > div{
    border: 1px solid slateblue;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
}

/* END FOOTER */